.adminpsw{
  
  position: absolute;
  margin-top: 30%;
  margin-left: 14%;
  width: 70%;
  height: 20%;
  display: none;

}
#response{
	display: none;
}

.pass{
  
					width:86%;
					padding: 17.5px;
					box-sizing: border-box;
					border: 1px solid grey; 
					font-size:15.6px;
					border-radius:5px;
  
}

.pass::placeholder{
font-size: 15.6px;
						font-family:  ' New Roman', serif;
						}
		.database{
			display: none;
		}

.pass:focus{
						   outline: none;
						padding: 16px 16px;
					
						   border: 2px solid #0066ff;
						    font-size: 15.6px; 
						border-radius: 5px;
						}
.confirm{
  position:absolute;
					    margin-left:66%; 
					    padding:12px;
					    width: 90px;
					  border-radius: 30px;
					  background-color: #0066ff;
					color: white;
					 font-size: 15px;
					outline: none;
					border: none;
					font-weight: bold;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

